h1{
    background-color: lightgreen;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: darkgreen;

    padding: 10px 10px;

    margin: 10px 10px;

    outline: 5px dashed red;
}

a {
    border-width: 10px;
    border-style: solid;
    border-color: blue;
    text-decoration: none;
}