@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to bottom, #012340, #025939);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(1, 20, 36, 0.563);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #027333;
    text-align: center;
    text-shadow: 1px 1px 0px #02461f9f;
}

h2 {
    color: #03A63C;
}

p {
    text-align: justify;
}